<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Travel Portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animations.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]>
            <script src="static/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header id="header" class="light_section">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#top"><img src="static/example/logo.png" alt=""></a>
                <div class="col-sm-12 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav>
                        <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                            <li class="">
                                <a href="./">首页</a>
                            </li>
                            <li class="active">
                                <a href="./about.html">关于</a>
                            </li>
                            <li class="">
                                <a href="./gallery.html">展示</a>
                             </li>  
                            <li class="dropdown">                                
                                <a href="./blog.html">博客</a>
                                <ul class="dropdown-menu">                                    
                                    <li class="">
                                        <a href="./blog.html">博客</a>
                                    </li>                                   
                                    <li class="">
                                        <a href="./blog-single.html">博客文章</a>
                                    </li>
                                </ul>
                            </li>      
                            <li class="dropdown">                                
                                <a href="./icons.html">特征</a>
                                <ul class="dropdown-menu">                                    
                                    <li class="">
                                        <a href="./icons.html">标志</a>
                                    </li>                                   
                                    <li class="">
                                        <a href="./404.html">404</a>
                                    </li>
                                </ul>
                            </li>                      
                            <li class="">
                                <a href="./contact.html">联系</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


<section class="" id="title_about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h2 class="block-header text-center">Why Us</h2>
        <p class="first_indent text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus adipiscing eget augue at tristique. Aliquam sit amet sodales dui, eget blandit metus. Nam fermentum purus eu est cursus tincidunt. Proin ut justo lorem. </p>
      </div>
    </div>
  </div>  
  <div class="container text-center">
    <div class="row">
      <div class=" col-sm-6 col-md-3 to_animate" data-animation="fadeInLeft">
          <img class="img-circle" src="static/example/title_img1.jpg" alt="">
           <p class="title_description text_center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus adipiscing eget augue at tristique. Aliquam sit amet sodales dui, eget blandit metus. Nam fermentum purus eu est cursus tincidunt. Proin ut justo lorem. </p>     
          <a class="btn-default btn1" href="./blog-single.html">Read more</a>
      </div>  
       <div class=" col-sm-6 col-md-3 to_animate" data-animation="fadeInLeft">
          <img class="img-circle" src="static/example/title_img2.jpg" alt="">
           <p class="title_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus adipiscing eget augue at tristique. Aliquam sit amet sodales dui, eget blandit metus. Nam fermentum purus eu est cursus tincidunt. Proin ut justo lorem. </p>          
          <a class="btn-default btn1" href="./blog-single.html">Read more</a>
      </div> 
       <div class=" col-sm-6 col-md-3 to_animate" data-animation="fadeInRight">
          <img class="img-circle" src="static/example/title_img3.jpg" alt="">
           <p class="title_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus adipiscing eget augue at tristique. Aliquam sit amet sodales dui, eget blandit metus. Nam fermentum purus eu est cursus tincidunt. Proin ut justo lorem. </p>       
          <a class="btn-default btn1" href="./blog-single.html">Read more</a>
      </div> 
       <div class=" col-sm-6 col-md-3 to_animate" data-animation="fadeInRight">
          <img class="img-circle" src="static/example/title_img4.jpg" alt="">
           <p class="title_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus adipiscing eget augue at tristique. Aliquam sit amet sodales dui, eget blandit metus. Nam fermentum purus eu est cursus tincidunt. Proin ut justo lorem. </p>        
          <a class="btn-default btn1" href="./blog-single.html">Read more</a>
      </div>   
    </div>
  </div>  
</section>



<section id="mission" class="grey_section">
  <div class="container">    
    <div class="row">
    <h2 class="block-header text-center">Fun and safe travel</h2>
    <p class="first_indent text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus adipiscing eget augue at tristique. Aliquam sit amet sodales dui, eget blandit metus. Nam fermentum purus eu est cursus tincidunt. Proin ut justo lorem. </p>
      <div class="col-sm-4 to_animate text-center" data-animation="fadeInLeftBig">
       <img src="static/example/about_us.jpg" alt="">
      </div>
      <div class="mission_block col-sm-8 to_animate" data-animation="fadeInRightBig">           
          <div>              
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis, nam, iste, maxime officiis saepe esse facere aspernatur dolore nisi libero ut pariatur modi expedita voluptas impedit odit eum reprehenderit.
          </div>   
          <a class="btn-default btn1" href="./blog-single.html">Read more</a>
      </div> 

    </div>   
  </div>
</section>
    
<section class="">
  <div class="container text-center">
    <div class="row">
        <h2 class="block-header">Our history</h2>
        <h4>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed voluptas sit aspernatur aut odit aut fugit, sed quia</h4>
        <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum.</p>
        <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</p>
    </div>
  </div>
</section>

<section id="team" class="parallax color_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="block-header">Our Team</h2>
                </div>
            </div>
            <div class="row to_animate_child_blocks">
                <div class="block col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">
                    <div class="thumbnail">
                        <img src="static/example/team/team1.jpg" alt="team">
                        <div class="caption">
                            <h4>Jat Anderson</h4>
                            <p>Director</p>

                        </div>
                        <p class="team-social">
                            <a class="socialico-facebook" href="#" title="Facebook">#</a>
                            <a class="socialico-twitter" href="#" title="Twitter">#</a>
                            <a class="socialico-dribble" href="#" title="LinkedIn">#</a>
                        </p>
                    </div>
                </div>
                <div class="block col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">
                    <div class="thumbnail">
                        <img src="static/example/team/team2.jpg" alt="team">
                        <div class="caption">
                            <h4>Sarah Marsh</h4>
                            <p>Manager</p>

                        </div>
                        <p class="team-social">
                            <a class="socialico-facebook" href="#" title="Facebook">#</a>
                            <a class="socialico-flickr" href="#" title="Twitter">#</a>
                            <a class="socialico-linkedin" href="#" title="LinkedIn">#</a>
                        </p>
                    </div>
                </div>
                <div class="block col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">
                    <div class="thumbnail">
                        <img src="static/example/team/team3.jpg" alt="team">
                        <div class="caption">
                            <h4>Michael Lee</h4>
                            <p>Advertising Manager</p>

                        </div>
                        <p class="team-social">
                            <a class="socialico-twitter" href="#" title="Twitter">#</a>
                            <a class="socialico-facebook" href="#" title="Facebook">#</a>
                            <a class="socialico-google" href="#" title="LinkedIn">#</a>
                        </p>
                    </div>
                </div>
                <div class="block col-sm-6 col-md-3 to_animate" data-animation="fadeInUpBig">
                    <div class="thumbnail">
                        <img src="static/example/team/team4.jpg" alt="team">
                        <div class="caption">
                            <h4>Selena Stefan</h4>
                            <p>Photographer</p>

                        </div>
                        <p class="team-social">
                            <a class="socialico-twitter" href="#" title="Twitter">#</a>
                            <a class="socialico-facebook" href="#" title="Facebook">#</a>
                            <a class="socialico-linkedin" href="#" title="LinkedIn">#</a>
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section id="testimonials" class="grey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">

                    <div id="carousel-testimonials-fullwidth" class="carousel slide widget_testimonials block">
                      
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-testimonials-fullwidth" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-testimonials-fullwidth" data-slide-to="1"></li>
                            <li data-target="#carousel-testimonials-fullwidth" data-slide-to="2"></li>
                        </ol>  
                        <div class="carousel-inner">
                            <div class="item active">
                                <h4 class="carousel-introtext">
                                    Lorem ipsum dolor sit amet eligendi optio cumque nihil impedit quo minus id quod maxime posmus omnis voluptas assumenda est, omnis dolor repellendus. 
                                </h4>
                                <p class="carousel-readmore">
                                    John Doe
                                </p>
                            </div>
                            <div class="item">
                                <h4 class="carousel-introtext">
                                    Lorem ipsum dolor sit amet eligendi optio cumque nihil impedit quo minus id quod maxime posmus omnis voluptas assumenda est, omnis dolor repellendus. 
                                </h4>
                                <p class="carousel-readmore">
                                    Catrin Jhonson
                                </p>
                            </div>
                            <div class="item">
                                <h4 class="carousel-introtext">
                                     Lorem ipsum dolor sit amet eligendi optio cumque nihil impedit quo minus id quod maxime posmus omnis voluptas assumenda est, omnis dolor repellendus. 
                                </h4>
                                <p class="carousel-readmore">
                                    Nataly Smith
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>   



<footer>
    <div class="social">
        <div class="social_icons">
            <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>  
        <img alt="" src="static/example/footer_bg.jpg">
    </div>           
</footer>

    <section id="copyright" class="color_section">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center">
                    &copy; Copyright 2021 - Travel Planning
                </div>
            </div>

        </div>
    </section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <script src="static/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/vendor/placeholdem.min.js"></script>
        <script src="static/js/vendor/hoverIntent.js"></script>
        <script src="static/js/vendor/superfish.js"></script>
        <script src="static/js/vendor/jquery.actual.min.js"></script>
        <script src="static/js/vendor/jquery.appear.js"></script>
        <script src="static/js/vendor/jquerypp.custom.js"></script>
        <script src="static/js/vendor/jquery.elastislide.js"></script>
        <script src="static/js/vendor/jquery.flexslider-min.js"></script>
        <script src="static/js/vendor/jquery.prettyPhoto.js"></script>
        <script src="static/js/vendor/jquery.easing.1.3.js"></script>
        <script src="static/js/vendor/jquery.ui.totop.js"></script>
        <script src="static/js/vendor/jquery.isotope.min.js"></script>
        <script src="static/js/vendor/jquery.easypiechart.min.js"></script>
        <script src='static/js/vendor/jflickrfeed.min.js'></script>
        <script src="static/js/vendor/jquery.sticky.js"></script>
        <script src='static/js/vendor/owl.carousel.min.js'></script>
        <script src='static/js/vendor/jquery.nicescroll.min.js'></script>
        <script src='static/js/vendor/jquery.fractionslider.min.js'></script>
        <script src='static/js/vendor/jquery.scrollTo-min.js'></script>
        <script src='static/js/vendor/jquery.localscroll-min.js'></script>
        <script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
        <script src='static/js/vendor/jquery.bxslider.min.js'></script>
        <script src='static/js/vendor/jquery.funnyText.min.js'></script>
        <script src='static/js/vendor/jquery.countTo.js'></script>
        <script src="static/js/vendor/grid.js"></script>
        <script src='static/twitter/jquery.tweet.min.js'></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>


    </body>
</html>