<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Travel Portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animations.css">
		<link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]>
            <script src="static/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     <header id="header" class="light_section">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#top"><img src="static/example/logo.png" alt=""></a>
                <div class="col-sm-12 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav>
                        <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                            <li class="">
                                <a href="./travelhome">首页</a>
                            </li>
                            <li class="">
                                <a href="./about.html">关于</a>
                            </li>
                            <li class="">
                                <a href="./gallery.html">展示</a>
                             </li>
                            <li class="dropdown active">
                                <a href="./blog.html">博客</a>
                                <ul class="dropdown-menu">
                                    <li class="">
                                        <a href="./blog.html">博客</a>
                                    </li>
                                    <li class="">
                                        <a href="./blog-single.html">博客文章</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="./contact.html">联系</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

<section id="middle" class="light_section">
	<div class="container">
		<div class="row blog">

			<div class="col-sm-9">
				<div class="content-area" id="primary">
					<div role="main" class="site-content" id="content">
						<article class="post format-standard">
							<header class="entry-header">
								<div class="entry-thumbnail">
									<img alt="" src="static/example/blog-post.jpg">
								</div>
								<h2 class="entry-title">
									<a href="./blog-single.html" rel="bookmark">写下你的旅行</a>
								</h2>
								<div class="entry-meta">
									By
									<span class="author vcard">
										<a rel="author" href="#" class="url fn n">SamLiu</a>
									</span>
									<span class="categories-links">
										In
										<a rel="category" href="#">Graphic Design</a>, 
										<a rel="category" href="#">Photography</a>
									</span>
									<span class="date">
										Posted
										<time datetime="2020-08-08T15:05:23+00:00" class="entry-date">December 8, 2020</time>
									</span>
									<span class="comments-link">
										<a href="#">5 comments</a>
									</span>
								</div>
								<!-- .entry-meta --> 
							</header>
							<!-- .entry-header -->

							<div class="entry-content">
								<p>At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequa orem ipsum dolor sit amet.</p>

							</div>
							<!-- .entry-content -->
							<div class="entry-tags">
								<span class="tags-links">
									<a rel="tag" href="#">Graphic Design</a>, 
									<a rel="tag" href="#">Photography</a>
								</span>
							</div>
							<!-- .entry-tags -->
						</article>
						<!-- .post --> 

						<article class="post format-small-image">
							<div class="row">
								<div class="entry-thumbnail col-sm-5">
									<img alt="" src="static/example/blog-post-small.jpg">
								</div>
								<div class="col-sm-7">
									<header class="entry-header">
										<h2 class="entry-title">
											<a href="./blog-single.html" rel="bookmark">晒出你的图片</a>
										</h2>
										<div class="entry-meta">
											By
											<span class="author vcard">
												<a rel="author" href="#" class="url fn n">Alan Smith</a>
											</span>
											<span class="categories-links">
												In
												<a rel="category" href="#">Graphic Design</a>, 
												<a rel="category" href="#">Photography</a>
											</span>
											<span class="date">
												Posted
												<time datetime="2013-08-08T15:05:23+00:00" class="entry-date">December 8, 2013</time>
											</span>
											<span class="comments-link">
												<a href="#">5 comments</a>
											</span>
										</div>
										<!-- .entry-meta --> 
									</header>
									<!-- .entry-header -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad, architecto, suscipit et officiis autem eius ratione volupta consectetur adipisicing elits ut exercitationem ullam natus quia</p>
										<p>Nihil magnam ad, architecto, suscipit et officiis consectetur adipisicing elit sunt repellat officia suscipit et officiis consectetur similique?</p>
									</div>
									<!-- .entry-content -->
									<div class="entry-tags">
										<span class="tags-links">
											<a rel="tag" href="#">Graphic Design</a>, 
											<a rel="tag" href="#">Photography</a>
										</span>
									</div>
									<!-- .entry-tags -->
								</div>
							</div>
						</article>

						</article>
						<!-- .post --> 
						<article class="">
							<header class="entry-header">
								<div class="entry-thumbnail">
									<iframe src="//player.vimeo.com/video/1084537" width="848" height="390"></iframe>
								</div>
								<h2 class="entry-title">
									<a href="./blog-single.html" rel="bookmark">展示你的视频</a>
								</h2>
								<div class="entry-meta">
									By
									<span class="author vcard">
										<a rel="author" href="#" class="url fn n">Alan Smith</a>
									</span>
									<span class="categories-links">
										In
										<a rel="category" href="#">Graphic Design</a>, 
										<a rel="category" href="#">Photography</a>
									</span>
									<span class="date">
										Posted
										<time datetime="2013-08-08T15:05:23+00:00" class="entry-date">December 8, 2013</time>
									</span>
									<span class="comments-link">
										<a href="#">5 comments</a>
									</span>
								</div>
								<!-- .entry-meta --> 
							</header>
							<!-- .entry-header -->

							<div class="entry-content">
								<p>At vero eos et accusam et justo duo dolores et ea rebum. Ut wisi enim adinim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequa orem ipsum dolor sit amet.</p>

							</div>
							<!-- .entry-content -->
							<div class="entry-tags">
								<span class="tags-links">
									<a rel="tag" href="#">Graphic Design</a>, 
									<a rel="tag" href="#">Photography</a>
								</span>
							</div>
							<!-- .entry-tags -->

						</article>
						<!-- .post --> 

					</div>
					<!-- #content --> 
				</div>

			</div>

				<!-- Sidebar -->
			<aside class="col-sm-3">



				<div class="block widget_tag_cloud">
					<h3>标签</h3>
					<div class="tagcloud">
						<a href="#" class="tag-link">Graphic Design</a>
						<a href="#" class="tag-link">Photography</a>
						<a href="#" class="tag-link">Design</a>
						<a href="#" class="tag-link">Media</a>
						<a href="#" class="tag-link">Typography</a>
					</div>
				</div>



			</aside><!-- eof Sidebar -->

		</div></div></section>


  <footer>
    <div class="social">
        <div class="social_icons">
            <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>  
        <img alt="" src="static/example/footer_bg.jpg">
    </div>           
</footer>

    <section id="copyright" class="color_section">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center">
                    &copy; Copyright 2021 - Travel Planning
                </div>
            </div>

        </div>
    </section>
 
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <script src="static/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/vendor/placeholdem.min.js"></script>
        <script src="static/js/vendor/hoverIntent.js"></script>
        <script src="static/js/vendor/superfish.js"></script>
        <script src="static/js/vendor/jquery.actual.min.js"></script>
        <script src="static/js/vendor/jquery.appear.js"></script>
        <script src="static/js/vendor/jquerypp.custom.js"></script>
        <script src="static/js/vendor/jquery.elastislide.js"></script>
        <script src="static/js/vendor/jquery.flexslider-min.js"></script>
        <script src="static/js/vendor/jquery.prettyPhoto.js"></script>
        <script src="static/js/vendor/jquery.easing.1.3.js"></script>
        <script src="static/js/vendor/jquery.ui.totop.js"></script>
        <script src="static/js/vendor/jquery.isotope.min.js"></script>
        <script src="static/js/vendor/jquery.easypiechart.min.js"></script>
        <script src='static/js/vendor/jflickrfeed.min.js'></script>
        <script src="static/js/vendor/jquery.sticky.js"></script>
        <script src='static/js/vendor/owl.carousel.min.js'></script>
        <script src='static/js/vendor/jquery.nicescroll.min.js'></script>
        <script src='static/js/vendor/jquery.fractionslider.min.js'></script>
        <script src='static/js/vendor/jquery.scrollTo-min.js'></script>
        <script src='static/js/vendor/jquery.localscroll-min.js'></script>
        <script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
        <script src='static/js/vendor/jquery.bxslider.min.js'></script>
        <script src='static/js/vendor/jquery.funnyText.min.js'></script>
        <script src='static/js/vendor/jquery.countTo.js'></script>
        <script src="static/js/vendor/grid.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>


    </body>
</html>