<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>博客文章</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animations.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]>
            <script src="static/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>


    <header id="header" class="light_section">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#top"><img src="static/example/logo.png" alt=""></a>
                <div class="col-sm-12 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav>
                        <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                            <li class="">
                                <a href="./travelhome">首页</a>
                            </li>
                            <li class="">
                                <a href="./about.html">关于</a>
                            </li>
                            <li class="">
                                <a href="./gallery.html">展示</a>
                             </li>
                            <li class="dropdown active">
                                <a href="./blog.html">博客</a>
                                <ul class="dropdown-menu">
                                    <li class="">
                                        <a href="./blog.html">博客</a>
                                    </li>
                                    <li class="">
                                        <a href="./blog-single.html">博客文章</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="./contact.html">联系</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    

<section id="middle" class="light_section">
	<div class="container">
		<div class="row blog-single">
			
			<div class="col-sm-9">
				<div class="content-area" id="primary">
					<div role="main" class="site-content" id="content">
						<article class="post type-post">
							<header class="entry-header">								
		                           <div class="badgeBox">
			                            <div class="badge">
			                                8
			                                <span>apr</span>
			                            </div>
			                            <div class="extra-wrap">
			                                <a class="tl" href="#">北京故宫游记</a>
			                                <p class="link">发布者<a class="lnk1" href="#">Samliu</a><a class="lnk2" href="#">5 comments</a></p>
			                            </div>
		                      	  </div>
								<!-- .entry-meta --> 
							</header>
								<div class="entry-thumbnail">
									<img alt="" src="static/example/blog-show.jpg">
								</div>
							<!-- .entry-header -->

							<div class="entry-content">
								<p>
									如果你打小儿就住在北京，没去过故宫几乎是不可能的，这个世界上现存的最大也最完整的古代宫殿建筑群，是北京的不二象征——提起北京，就会想到故宫；提起故宫，就会想到北京。
                                </p>
								<p>
　　                                 我听说，想逛故宫，即使是走马观花，只用一天的时间，也绝不可能。就是用整整三天（我说的可是绝对的三天，不曾掐头去尾），你也只能看个大概。
                                    故宫位于北京的中心，是中国明、清两代帝王们居住的地方。它本来叫做紫禁城，其名是因紫微星垣而来。紫微星垣位于三大星垣（太微星垣、紫微星垣、天市星垣）的中央，因此是代表天帝的星座，天帝住的地方就叫做紫宫。天帝自然是至高无上的，而人间的皇帝们为了彰显自己的至尊地位，也把自己执政、居住的地方，起名为紫禁城。
                                    紫禁城南北长960米，东西宽750米，四周有高10米的宽厚城墙。城的四隅各有一座结构精巧的角楼，城外有护城河环绕。它占地面积72万平方米，有宫殿建筑9000多间。紫禁城由外朝与内廷两大部分组成。外朝是皇帝办理政务、举行朝会和典礼的场所；内廷则是皇帝处理日常事务和生活起居的地方。
　　                                 自紫禁城于明朝永乐18年建成后，曾先后有24位皇帝居住在这里，统治中国长达500多年之久。1911年，辛亥革命结束了中国长达5000年的封建帝制，中国最后一位皇帝浦仪被迫退位，后于1924年迁出紫禁城。1925年，这个昔日的皇宫，被改造成中国最大的博物馆——故宫博物院。
　　                                 紫禁城是严格按照儒家礼制思想设计的，建筑上依照“皇权至上”的原则，保持了中心突出、严格对称的格局。所以其主要建筑物都分布于北京城的南北中轴线上或是有序地排在中轴线两侧。 紫禁城的建造是不惜工本的。在皇帝的旨意下，能工巧匠云集北京，用从全国各地征集而来的上等建材，精雕细琢出了天下只此一家的紫禁城。所以仅是建筑这一项，就值得细细赏看。此外，明、清两代皇帝积聚的奇珍异宝，绝大多数也收藏于故宫博物院内，琳琅满目的古珍宝，让人叹为观止。
								</p>
								<p>
									数字“九”是奇数中最高的一个，所以深得历代皇帝喜爱，九的应用在紫禁城内可谓随处可见。比如宫中许多大门的门钉都是九行，每行都是九个门钉；又比如太上皇宫内还备有九龙壁；而保和殿后的大石雕上也是九条龙 。 现在，就让我陪你，一起逛逛古老而神秘的紫禁城。
                                　　天安门是紫禁城的正门，两侧分别为太庙和社稷坊。在举行盛大庆典的日子（如皇帝大婚），便会有一道昭书告示天下，诏书摆在“龙亭”——一顶特制的轿子中，从深宫一直抬到天安门前。礼部官员在高高的城楼上，向臣民宣告庆典消息。巍峨的午门高达80.42 米。门楼高耸，左右分两翼向前突出。两翼之上，在转角和顶端处共有四座方亭守望。每年十月，皇帝在午门颁发下一年的历书。
                                　　午门门楼下有三个门，当中那个只供皇帝出入。不过也有例外，在皇帝成亲之日，皇后可以由这个门进入紫禁城；而科举考试的头三元得主，即状元、榜眼、探花，在考试结果宣布之后，也可经由中门走出皇城。
                                　　走过雄伟壮丽的午门，就进入了一个宽阔的矩形广场。这是紫禁城内最大的广场。它的正前方横着一条河，河上有五座拱桥，北边平台上矗立着太和门——只有皇帝可以进出。太和门东边是给武官用的昭德门，西边则是给王公大臣用的贞度门。走过这些大门，眼前又出现一处巨大的广场，足可容纳两万人。这个广场是供皇帝朝会大典时使用的。北边，三层汉白玉栏杆环抱一个八米高的宽阔台基，高台上自南而北依次屹立着三座大殿。第一座，也是最大的一座，便是太和殿。皇帝的登基大礼、大婚、元旦庆贺等大典，都在这里举行。
                                　　中和殿座落在太和殿后，是一个较小的方殿。皇帝去太和殿前，要先在这里接受执事官员的朝拜。每年一开春，种子和农具便被送到殿里，进行仪式性的检审，以此祈望有个风调雨顺的大丰年。保和殿是外朝三大殿的末殿。其结构设计与太和殿相似，只是规模较小、等级稍低，但它却是个气派颇大的待客殿堂，遇国者大典和新年佳节，皇帝会在这里宴请外国使臣和少数民族首领。而科举考试的最后一级——殿试，也在这里举行。
                                　　从保和殿出来后往北，可以看到一个东西横长的广场，东、西、北三面都有门。北面的就是乾清门，进得此门，即是内廷。 内廷是皇帝、皇后以及嫔妃们的生活起居场所，外人不得擅入。
                                　　1912年中国结束帝制、实行共和后，内廷与外朝之间便以一堵墙分隔开来，外朝三大殿为新政府所占据，内廷仍为逊帝溥仪所居，直至1924年他被赶出皇宫。内廷第一座宫殿就是乾清宫，在明朝和清初时，这里是皇帝的寝宫。清晨五点，皇帝起身，用毕早膳，便到乾清宫处理国事。
                                　　中间那个不太大的宫殿是交泰殿，里面珍藏着二十五颗宝玺。殿内挂有铁牌，刻有“太监不得干预政事”的皇帝御旨。宫中还有一座1798年制造的大型自鸣钟和一个古时用以计时的铜制水漏壶。这三宫一组的建筑的末座是坤宁宫，明朝时是皇后的寝宫，清朝用作帝、后的结婚洞房。
                                　　依照传统规矩，帝、后新婚，要在这个殿堂里度过三天。坤宁宫后有坤宁门通御花园。这个花园建于明代永乐年间，是宫中三个花园中年代最久、规模最大的一个。与所有的园林一样，御花园也想要在一个有限的空间内尽量重塑出多姿多彩的自然界。山水之间，无所不用其极。
                                　　御花园中央是钦安殿，是一个道教殿堂，也是紫禁城中保存得最好的明代建筑。钦安殿西侧是千秋亭，东侧是万春亭。后三宫的东西两边，有多组布局繁复的小建筑，这就是紫禁城的东西十二宫。它们依旧沿袭了外朝建筑的东西对称布局，但却是以传统的四合院风格为主。每个院落各成一体，分别住着皇帝的众多嫔妃。后三宫的西侧为养心殿。清康熙帝驾崩后，继位的雍正将寝宫从乾清宫移到养心殿。其后从乾隆至宣统几个皇帝都在这里居住和处理国家政务。这里也是年轻的溥仪皇帝退位后选定的居所。
                                　　紫禁城的城墙每个角上都建有角楼。在这些角楼的设计中，数字九仍独受青睐。每个角楼都是九梁十八柱，三重檐，七十二脊，屋顶正中都有鎏金尖顶。
                                　　神武门是紫禁城的北门。出了这道门就是景山（亦称煤山）。这座人造山，是紫禁城的屏障。山上的一组殿堂存放着清朝历代皇帝的“标准像”。明代最后一位皇帝崇祯，就是在这里走投无路，自杀身亡。
                                　　就这样，我终于粗粗浏览了一下故宫博物院。故宫博物院是我国最大的一座综合性博物馆，它是在明清两代皇宫及其收藏的基础上建立起来的。它所展示的明清宫廷历史、宫殿建筑以及大量的难得一见的古代艺术品收藏，都是世界上其他博物馆所无法企及的。而我这种粗枝大叶的介绍，恐怕也只能道出它的九牛一毛。
                                 </p>

							</div>
							<!-- .entry-content -->

						</article>
						<!-- #post -->

						<div class="comments-area" id="comments">
							<h2 class="comments-title">展示5条评论</h2>
							<ol class="comment-list">
								<li class="comment even thread-even depth-1 parent">
									<article class="comment-body">
										<footer class="comment-meta">
											<div class="comment-author vcard"> <img class="avatar" src="static/example/team/01.jpg" alt=""> <a class="author_url" rel="external nofollow" href="#">赵一凡</a></div>
											<!-- .comment-author -->

											<div class="comment-metadata">
												<span>9.05.2019 8:30</span>
											</div>
											<div class="reply"> <a href="#" class="comment-reply-link">回复</a> </div>
											<!-- .reply --> 
											<!-- .comment-metadata --> 

										</footer>
										<!-- .comment-meta -->

										<div class="comment-content">
											<p> 楼主写的真棒 </p>
										</div>
										<!-- .comment-content -->

									</article>
									<!-- .comment-body -->
									<ol class="children">
										<li class="comment byuser odd alt depth-2 parent">
											<article class="comment-body">
												<footer class="comment-meta">
													<div class="comment-author vcard">
														<img class="avatar" src="static/example/team/02.jpg" alt="">
														<a class="author_url" rel="external nofollow" href="#">姜叶欣</a>
													</div>
													<!-- .comment-author -->

													<div class="comment-metadata"> 
														<span>9.05.2019 10:30</span>
													</div>
													<div class="reply"> <a href="#" class="comment-reply-link">回复</a> </div>
													<!-- .reply --> 
													<!-- .comment-metadata --> 

												</footer>
												<!-- .comment-meta -->

												<div class="comment-content">
													<p>看完之后我也想去故宫！</p>
												</div>
												<!-- .comment-content -->

											</article>
											<!-- .comment-body -->
											<ol class="children">
												<li class="comment byuser even depth-3">
													<article class="comment-body">
														<footer class="comment-meta">
															<div class="comment-author vcard"> <img class="avatar" src="static/example/team/03.jpg" alt=""> <a class="author_url" rel="external nofollow" href="#">张落雪</a></div>
															<!-- .comment-author -->

															<div class="comment-metadata">
																<span>9.05.2019 17:30</span>
															</div>
															<div class="reply"> <a href="#" class="comment-reply-link">回复</a> </div>
															<!-- .reply --> 
															<!-- .comment-metadata --> 

														</footer>
														<!-- .comment-meta -->

														<div class="comment-content">
															<p>楼主写这么长用心了，赞</p>
														</div>
														<!-- .comment-content -->

													</article>
													<!-- .comment-body --> 
												</li>
												<!-- #comment-## -->
											</ol>
											<!-- .children --> 
										</li>
										<!-- #comment-## -->
									</ol>
									<!-- .children --> 
								</li>
								<!-- #comment-## -->
								<li class="comment byuser odd alt thread-odd thread-alt depth-1">
									<article class="comment-body">
										<footer class="comment-meta">
											<div class="comment-author vcard">
												<img class="avatar" src="static/example/team/04.jpg" alt="">

												<a class="author_url" rel="external nofollow" href="#">赵雯灵</a>

											</div>
											<!-- .comment-author -->

											<div class="comment-metadata">
												<span>11.01.2020 10:30</span>
											</div>
											<div class="reply"> <a href="#" class="comment-reply-link">回复</a> </div>
											<!-- .reply --> 
											<!-- .comment-metadata --> 

										</footer>
										<!-- .comment-meta -->

										<div class="comment-content">
											<p>故宫真的超级大，我当时走了一天，累死了</p>
										</div>
										<!-- .comment-content -->

									</article>
									<!-- .comment-body --> 
								</li>
								<!-- #comment-## -->
								<li class="comment byuser even thread-even depth-1">
									<article class="comment-body">
										<footer class="comment-meta">
											<div class="comment-author vcard">
												<img class="avatar" src="static/example/team/05.jpg" alt="">

												<a class="author_url" rel="external nofollow" href="#">蔡小琪</a>

											</div>
											<!-- .comment-author -->

											<div class="comment-metadata">
												<span>11.05.2021 10:30</span>
											</div>
											<div class="reply"> <a href="#" class="comment-reply-link">回复</a> </div>
											<!-- .reply --> 
											<!-- .comment-metadata --> 

										</footer>
										<!-- .comment-meta -->

										<div class="comment-content">
											<p>故宫的房屋都好漂亮</p>
										</div>
										<!-- .comment-content -->

									</article>
									<!-- .comment-body --> 
								</li>
								<!-- #comment-## -->
							</ol>
							<!-- .comment-list -->

							<div class="comment-respond" id="respond">
								<h3 class="comment-reply-title" id="reply-title">留下你的评论</h3>
								<form class="comment-form" id="commentform" method="post" action="/">
									<p class="comment-form-author">
										<label for="author">Name <span class="required">*</span></label>
										<input type="text" aria-required="true" size="30" value="" name="author" id="author" class="form-control" placeholder="Name">
									</p>
									<p class="comment-form-email">
										<label for="email">Email <span class="required">*</span></label>
										<input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Enter email">
									</p>
									<p class="comment-form-comment">
										<label for="comment">Comment</label>
										<textarea aria-required="true" rows="8" cols="45" name="comment" id="comment" class="form-control" placeholder="Comment"></textarea>
									</p>
									<p class="form-submit">
										<input type="submit" value="提交评论" id="submit" name="submit" class="theme_btn">
									</p>
								</form>
							</div>
							<!-- #respond --> 

						</div>
						<!-- #comments --> 

					</div>
					<!-- #content --> 
				</div>

			</div>

			<!-- Sidebar -->

			<aside class="col-sm-3">

				<div class="block widget_categories">
					<h3>文章类别</h3>
					<ul>
						<li class="游记"><a href="#">游记</a> (3)</li>
						<li class="故宫"><a href="#">故宫</a> (7)</li>
						<li class="一日游"><a href="#">一日游</a> (1)</li>
						<li class="古代建筑"><a href="#">古代建筑</a> (2)</li>
						<li class="徒步"><a href="#">徒步</a> (4)</li>
					</ul>
				</div>


				<div class="block widget_archive">
					<h3>博客档案</h3>
					<ul>
						<li><a href="#">July 2019</a></li>
						<li><a href="#">June 2019</a></li>
						<li><a href="#">May 2019</a></li>
						<li><a href="#">April 2019</a></li>
						<li><a href="#">March 2019</a></li>
					</ul>
				</div>



				<div class="block widget_tag_cloud">
					<h3>标签</h3>
					<div class="tagcloud">
						<a href="#" class="tag-link">故宫</a>
						<a href="#" class="tag-link">徒步</a>
						<a href="#" class="tag-link">一日游</a>
					</div>
				</div>


				<div class="block widget_news">
					<h3>最近回复</h3>
					<ul>
						<li class="item">
							<span class="news_introimg">
								<a href="#">
									<img alt="" src="static/example/team/01.jpg">
								</a>
							</span>
							<div class="news_right">
								<h5> 
									<a href="#">北京</a>
								</h5>
								<p>赵一凡</p>
							</div>
						</li>

						<li class="item">
							<span class="news_introimg">
								<a href="#">
									<img alt="" src="static/example/team/02.jpg">
								</a>
							</span>
							<div class="news_right">
								<h5> 
									<a href="#">青岛</a>
								</h5>
								<p>姜叶欣</p>
							</div>
						</li>

						<li class="item">
							<span class="news_introimg">
								<a href="#">
									<img alt="" src="static/example/team/03.jpg">
								</a>
							</span>
							<div class="news_right">
								<h5> 
									<a href="#">深圳</a>
								</h5>
								<p>张落雪</p>
							</div>
						</li>
					</ul>
				</div>


			</aside><!-- eof sidebar -->



		</div></div></section>


<footer>
    <div class="social">
        <div class="social_icons">
            <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>  
        <img alt="" src="static/example/footer_bg.jpg">
    </div>           
</footer>

    <section id="copyright" class="color_section">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center">
                    &copy; Copyright 2021 - Travel Planning
                </div>
            </div>

        </div>
    </section>

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <script src="static/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/vendor/placeholdem.min.js"></script>
        <script src="static/js/vendor/hoverIntent.js"></script>
        <script src="static/js/vendor/superfish.js"></script>
        <script src="static/js/vendor/jquery.actual.min.js"></script>
        <script src="static/js/vendor/jquery.appear.js"></script>
        <script src="static/js/vendor/jquerypp.custom.js"></script>
        <script src="static/js/vendor/jquery.elastislide.js"></script>
        <script src="static/js/vendor/jquery.flexslider-min.js"></script>
        <script src="static/js/vendor/jquery.prettyPhoto.js"></script>
        <script src="static/js/vendor/jquery.easing.1.3.js"></script>
        <script src="static/js/vendor/jquery.ui.totop.js"></script>
        <script src="static/js/vendor/jquery.isotope.min.js"></script>
        <script src="static/js/vendor/jquery.easypiechart.min.js"></script>
        <script src='static/js/vendor/jflickrfeed.min.js'></script>
        <script src="static/js/vendor/jquery.sticky.js"></script>
        <script src='static/js/vendor/owl.carousel.min.js'></script>
        <script src='static/js/vendor/jquery.nicescroll.min.js'></script>
        <script src='static/js/vendor/jquery.fractionslider.min.js'></script>
        <script src='static/js/vendor/jquery.scrollTo-min.js'></script>
        <script src='static/js/vendor/jquery.localscroll-min.js'></script>
        <script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
        <script src='static/js/vendor/jquery.bxslider.min.js'></script>
        <script src='static/js/vendor/jquery.funnyText.min.js'></script>
        <script src='static/js/vendor/jquery.countTo.js'></script>
        <script src="static/js/vendor/grid.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>


		<!--Social Buttons Scripts-->

		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "ur-6a7e320d-37d8-511-633d-4264e3ae8c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    </body>
</html>