<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>景点展示</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animations.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]>
            <script src="static/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

    <header id="header" class="light_section">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#top"><img src="static/example/logo.png" alt=""></a>
                <div class="col-sm-12 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav>
                        <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                            <li class="">
                                <a href="./travelhome">首页</a>
                            </li>
                            <li class="">
                                <a href="./about.html">关于</a>
                            </li>
                            <li class="active">
                                <a href="./gallery.html">展示</a>
                             </li>  
                            <li class="dropdown">                                
                                <a href="./blog.html">博客</a>
                                <ul class="dropdown-menu">                                    
                                    <li class="">
                                        <a href="./blog.html">博客</a>
                                    </li>                                   
                                    <li class="">
                                        <a href="./blog-single.html">博客文章</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="./contact.html">联系</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

  <section id="middle" class="grey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="block-header">北京著名旅游景点</h2>
                    <p>寻找你喜欢的景点</p>
                </div>
            </div>

            <div class="row">
                <ul id="gallery-grid" class="gallery-grid col-sm-12">

                    <li>
                        <a href="#" data-largesrc="example/gallery/故宫.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="static/example/gallery/故宫.jpg" alt=""/>
                        </a>
                        <h3>故宫</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>故宫</h3>
                                <p class="description">
                                    北京故宫是中国明清两代的皇家宫殿，旧称紫禁城，位于北京中轴线的中心。北京故宫以三大殿为中心，占地面积约72万平方米，建筑面积约15万平方米，有大小宫殿七十多座，房屋九千余间。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#" data-largesrc="example/gallery/颐和园.jpg" data-title="Project Name 2" data-description="data-description">
                            <img src="static/example/gallery/颐和园.jpg" alt=""/>
                        </a>
                        <h3>颐和园</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>颐和园</h3>
                                <p class="description">
                                    颐和园，中国清朝时期皇家园林，前身为清漪园，坐落在北京西郊，距城区15公里，占地约290公顷（2.9平方千米），与圆明园毗邻。它是以昆明湖、万寿山为基址，以杭州西湖为蓝本，汲取江南园林的设计手法而建成的一座大型山水园林，也是保存最完整的一座皇家行宫御苑，被誉为“皇家园林博物馆”。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/故宫.jpg" data-title="Project Name 1" data-description="data-description">
                            <img src="static/example/gallery/故宫.jpg" alt=""/>
                        </a>
                        <h3>故宫</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>故宫</h3>
                                <p class="description">
                                    北京故宫是中国明清两代的皇家宫殿，旧称紫禁城，位于北京中轴线的中心。北京故宫以三大殿为中心，占地面积约72万平方米，建筑面积约15万平方米，有大小宫殿七十多座，房屋九千余间。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/八达岭长城.jpg" data-title="Project Name 3" data-description="data-description">
                            <img src="static/example/gallery/八达岭长城.jpg" alt=""/>
                        </a>
                        <h3>八达岭长城</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>八达岭长城</h3>
                                <p class="description">
                                    八达岭长城，位于北京市延庆区军都山关沟古道北口。是中国古代伟大的防御工程万里长城的重要组成部分，是明长城的一个隘口。八达岭长城为居庸关的重要前哨，古称“居庸之险不在关而在八达岭”。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <a href="#" data-largesrc="example/gallery/天坛.jpg" data-title="Project Name 4" data-description="data-description">
                            <img src="static/example/gallery/天坛.jpg" alt=""/>
                        </a>
                        <h3>天坛</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>天坛</h3>
                                <p class="description">
                                    天坛公园在北京市南部，东城区永定门内大街东侧。占地约273万平方米。天坛始建于明永乐十八年（1420年），清乾隆、光绪时曾重修改建。现为世界文化遗产，全国重点文物保护单位，国家AAAAA级旅游景区，全国文明风景旅游区示范点。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#" data-largesrc="example/gallery/恭王府.jpg" data-title="Project Name 5" data-description="data-description">
                            <img src="static/example/gallery/恭王府.jpg" alt=""/>
                        </a>
                        <h3>恭王府</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>恭王府</h3>
                                <p class="description">
                                    恭王府（Prince Kung's Mansion），位于北京市西城区柳荫街，为全国重点文物保护单位，中国国家一级博物馆，国家AAAAA级旅游景区，是清代规模最大的一座王府建筑群，曾先后作为清乾隆时期权臣和珅、清嘉庆时期庆僖亲王永璘的宅邸，咸丰元年（1851年）清廷赐封此宅邸于恭亲王奕訢，恭王府的名称也因此得来。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/北海公园.jpg" data-title="Project Name 6" data-description="data-description">
                            <img src="static/example/gallery/北海公园.jpg" alt=""/>
                        </a>
                        <h3>北海公园</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>北海公园</h3>
                                <p class="description">
                                    北海公园（Beihai Park）位于北京市中心区，东邻景山，南濒中南海，北连什刹海 [1]  ，属于中国古代皇家园林。全园以北海为中心，全园占地68.2万平方米（其中水面积38.9万平方米，陆地面积29.3万平方米） [29]  。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/景山公园.jpg" data-title="Project Name 7" data-description="data-description">
                            <img src="static/example/gallery/景山公园.jpg" alt=""/>
                        </a>
                        <h3>景山公园</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>景山公园</h3>
                                <p class="description">
                                    景山公园位于北京市西城区景山前街，坐落在明清北京城的中轴线上，西临北海，南与故宫神武门隔街相望，是明、清两代的御苑。公园中心的景山为堆土而成，曾是全城的制高点。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-largesrc="example/gallery/慕田峪长城.jpg" data-title="Project Name 8" data-description="data-description">
                            <img src="static/example/gallery/慕田峪长城.jpg" alt=""/>
                        </a>
                        <h3>慕田峪厂长城</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>慕田峪长城</h3>
                                <p class="description">
                                    北京的慕田峪长城 [1]  位于北京市怀柔区境内，距北京城区73公里。其历史悠久，文化灿烂，在中外享有“万里长城，慕田峪独秀”的美誉。景区内山峦叠嶂，植被覆盖率达90%以上。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#" data-largesrc="example/gallery/什刹海.jpg" data-title="Project Name 9" data-description="data-description">
                            <img src="static/example/gallery/什刹海.jpg" alt=""/>
                        </a>
                        <h3>什刹海</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>什刹海</h3>
                                <p class="description">
                                    什刹海，是北京市历史文化旅游风景区、北京市历史文化保护区。位于市中心城区西城区，毗邻北京城中轴线。水域面积33.6万平方米，与中南海水域一脉相连，是北京内城唯一一处具有开阔水面的开放型景区，也是北京城内面积最大、风貌保存最完整的一片历史街区
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#" data-largesrc="example/gallery/南锣鼓巷.jpg" data-title="Project Name 10" data-description="data-description">
                            <img src="static/example/gallery/南锣鼓巷.jpg" alt=""/>
                        </a>
                        <h3>南锣鼓巷</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>南锣鼓巷</h3>
                                <p class="description">
                                   南锣鼓巷是一条胡同，位于北京中轴线东侧的交道口地区，北起鼓楼东大街，南至平安大街，宽8米，全长787米，于元大都同期建成。是北京最古老的街区之一，已有740多年的历史。
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#" data-largesrc="example/gallery/王府井.jpg" data-title="Project Name 11" data-description="data-description">
                            <img src="static/example/gallery/王府井.jpg" alt=""/>
                        </a>
                        <h3>王府井</h3>
                        <div class="portfolio_description">
                            <div class="block">
                                <h3>王府井</h3>
                                <p class="description">
                                    故王府井大街（Wangfujing Street）位于中国北京市东城区，街道全长1818米，从南至北共分为4段，东长安街至东单三条段，长度为280米；东单三条至金鱼胡同段，长度为548米；金鱼胡同至灯市口大街段，长度为344米；灯市口大街至五四大街段，长度为646米。其中，东单三条至灯市口大街段是北京知名的商业步行街“王府井步行街”
                                </p>

                                <p class="more"><a href="#" class="theme_btn">了解更多</a></p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="pagination">
                        <li><a href="#"><i class="arrow-icon-left-open-mini"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="arrow-icon-right-open-mini"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



<footer>
    <div class="social">
        <div class="social_icons">
            <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>  
        <img alt="" src="static/example/footer_bg.jpg">
    </div>           
</footer>

    <section id="copyright" class="color_section">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center">
                    &copy; Copyright 2021 - Travel Planning
                </div>
            </div>

        </div>
    </section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <script src="static/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/vendor/placeholdem.min.js"></script>
        <script src="static/js/vendor/hoverIntent.js"></script>
        <script src="static/js/vendor/superfish.js"></script>
        <script src="static/js/vendor/jquery.actual.min.js"></script>
        <script src="static/js/vendor/jquery.appear.js"></script>
        <script src="static/js/vendor/jquerypp.custom.js"></script>
        <script src="static/js/vendor/jquery.elastislide.js"></script>
        <script src="static/js/vendor/jquery.flexslider-min.js"></script>
        <script src="static/js/vendor/jquery.prettyPhoto.js"></script>
        <script src="static/js/vendor/jquery.easing.1.3.js"></script>
        <script src="static/js/vendor/jquery.ui.totop.js"></script>
        <script src="static/js/vendor/jquery.isotope.min.js"></script>
        <script src="static/js/vendor/jquery.easypiechart.min.js"></script>
        <script src='static/js/vendor/jflickrfeed.min.js'></script>
        <script src="static/js/vendor/jquery.sticky.js"></script>
        <script src='static/js/vendor/owl.carousel.min.js'></script>
        <script src='static/js/vendor/jquery.nicescroll.min.js'></script>
        <script src='static/js/vendor/jquery.fractionslider.min.js'></script>
        <script src='static/js/vendor/jquery.scrollTo-min.js'></script>
        <script src='static/js/vendor/jquery.localscroll-min.js'></script>
        <script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
        <script src='static/js/vendor/jquery.bxslider.min.js'></script>
        <script src='static/js/vendor/jquery.funnyText.min.js'></script>
        <script src='static/js/vendor/jquery.countTo.js'></script>
        <script src="static/js/vendor/grid.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>


    </body>
</html>