<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<html>
<head>

<title>choose spot</title>

</head>


<body>
	<form action="/reco" method = "post">
		<p><input type="checkbox" name="spot" value="故宫" />故宫 </p>
		<p><input type="checkbox" name="spot" value="长城" />长城</p>
		<p><input type="checkbox" name="spot" value="颐和园" />颐和园</p>
		<p><input type="checkbox" name="spot" value="天坛" />天坛</p>
		<p><input type="checkbox" name="spot" value="天安门" />天安门</p>
		<p><input type="checkbox" name="spot" value="王府井" />王府井</p>
		<p><input type="checkbox" name="spot" value="人民大会堂" />人民大会堂</p>

		<p><input id="submit" type="submit" value="提交"/></p>
	</form>
</body>
</html>
