<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>北京市旅游路线定制</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animations.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]>
            <script src="static/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

   
    <header id="header" class="light_section">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#top"><img src="static/example/logo.png" alt=""></a>
                <div class="col-sm-12 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav>
                        <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                            <li class="active">
                                <a href="./travelhome">首页</a>
                            </li>
                            <li class="">
                                <a href="./about.html">关于</a>
                            </li>
                            <li class="">
                                <a href="./gallery.html">展示</a>
                             </li>  
                            <li class="dropdown">                                
                                <a href="./blog.html">博客</a>
                                <ul class="dropdown-menu">                                    
                                    <li class="">
                                        <a href="./blog.html">博客</a>
                                    </li>                                   
                                    <li class="">
                                        <a href="./blog-single.html">博客文章</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="./contact.html">联系</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section id="mainslider" class="color_section">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="static/example/slide_1.jpg" alt=""/>
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <h3 data-animation="slideUp">去你喜欢的地方</h3>
                            <p data-animation="slideUp">来一趟说走就走的旅行</p>
                             <a class="btn-default btn1" data-animation="slideUp" href="./spot.html">即刻出发</a>
                            
                        </div>
                    </div> 
                </li>
                <li>
                    <img src="static/example/slide_2.jpg" alt=""/>
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <h3 data-animation="slideUp">go where you want</h3>
                            <p data-animation="slideUp">Take a walk away trip</p>
                             <a class="btn-default btn1" data-animation="slideUp" href="#">get started</a>
                            
                        </div> 
                    </div> 
                </li>                
            </ul>
        </div>
    </section>
  

<section class="welcome-box light_section">
   <div class="container text-block">
    <h2 class="block-header text-center">欢迎来到北京</h2>
      <div class="row">
          <p class="col-sm-6 to_animate" data-animation="fadeInLeft">根据您的特点，定制最适合您的旅游计划</p>
          <p class="col-sm-6 to_animate" data-animation="fadeInRight">深度挖掘景点信息，寻找您的专属旅游路线</p>
      </div>
</div>
</section>


<section class="grey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="block-header text-center to_animate" data-animation="slideUp">北京著名景点</h2>
                    <p class="text-center">
                        在北京，玩个痛快
                    </p>
                </div>
            </div>
        </div>
        

            <div class="owl-carousel owl-items-5 latest-works">
                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/01.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">故宫</a></h3>
                        <p>金碧辉煌的古代建筑</p>
                        <div class="entry-share">
                            <p class="text-center">
                                <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/02.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">八达岭长城</a></h3>
                        <p>雄伟的北境长城</p>
                        <div class="entry-share">
                            <p class="text-center">
                                 <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/03.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">颐和园</a></h3>
                        <p>美妙的古代庄园</p>
                        <div class="entry-share">
                            <p class="text-center">
                                <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>


                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/04.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">王府井</a></h3>
                        <p>繁华的街道</p>
                        <div class="entry-share">
                            <p class="text-center">
                                <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/05.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">明十三陵</a></h3>
                        <p>古代皇帝之陵墓</p>
                        <div class="entry-share">
                            <p class="text-center">
                                 <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/06.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">北京动物园</a></h3>
                        <p>参观各种可爱的动物</p>
                        <div class="entry-share">
                            <p class="text-center">
                                 <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/07.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">龙潭公园</a></h3>
                        <p>优雅舒适的森林公园</p>
                        <div class="entry-share">
                            <p class="text-center">
                                 <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="owl-carousel-item portfolio_item_image">
                    <div class="portfolio_links">  
                        <img src="static/example/gallery/08.jpg" alt="">
                    </div>
                    <div>
                        <h3><a href="#">水立方</a></h3>
                        <p>奥运会游泳场馆</p>
                        <div class="entry-share">
                            <p class="text-center">
                                 <a class="btn-default btn1" data-animation="slideUp" href="#">更多信息</a>
                            </p>
                        </div>
                    </div>

                </div>

            </div> <!-- eof owl-carousel -->


    </section>


<section class="banner-box color_section parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="title">分享您的快乐旅途</p>
                <p>总结您的旅途！写下您的游记！分享您的快乐！
                </p>
                <a class="btn-default btn1" href="#">点击这里！</a>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="social">
        <div class="social_icons">
            <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>  
        <img alt="" src="static/example/footer_bg.jpg">
    </div>           
</footer>

    <section id="copyright" class="color_section">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center">
                    &copy; Copyright 2021 - Travel Planning
                </div>
            </div>

        </div>
    </section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <script src="static/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/vendor/placeholdem.min.js"></script>
        <script src="static/js/vendor/hoverIntent.js"></script>
        <script src="static/js/vendor/superfish.js"></script>
        <script src="static/js/vendor/jquery.actual.min.js"></script>
        <script src="static/js/vendor/jquery.appear.js"></script>
        <script src="static/js/vendor/jquerypp.custom.js"></script>
        <script src="static/js/vendor/jquery.elastislide.js"></script>
        <script src="static/js/vendor/jquery.flexslider-min.js"></script>
        <script src="static/js/vendor/jquery.prettyPhoto.js"></script>
        <script src="static/js/vendor/jquery.easing.1.3.js"></script>
        <script src="static/js/vendor/jquery.ui.totop.js"></script>
        <script src="static/js/vendor/jquery.isotope.min.js"></script>
        <script src="static/js/vendor/jquery.easypiechart.min.js"></script>
        <script src='static/js/vendor/jflickrfeed.min.js'></script>
        <script src="static/js/vendor/jquery.sticky.js"></script>
        <script src='static/js/vendor/owl.carousel.min.js'></script>
        <script src='static/js/vendor/jquery.nicescroll.min.js'></script>
        <script src='static/js/vendor/jquery.fractionslider.min.js'></script>
        <script src='static/js/vendor/jquery.scrollTo-min.js'></script>
        <script src='static/js/vendor/jquery.localscroll-min.js'></script>
        <script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
        <script src='static/js/vendor/jquery.bxslider.min.js'></script>
        <script src='static/js/vendor/jquery.funnyText.min.js'></script>
        <script src='static/js/vendor/jquery.countTo.js'></script>
        <script src="static/js/vendor/grid.js"></script>
        <script src='static/twitter/jquery.tweet.min.js'></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>


    </body>
</html>