<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
		#allmap{height:800px;width:100%;}
		#r-result,#r-result table{width:100%;}
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=QWvIBj7ebRmywj1dxzKgZwFqcLESKGQA"></script>
	<script src="https://code.bdstatic.com/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<title>根据起终点名称驾车导航</title>
</head>
<body>
	<div id="allmap"></div>
	<div id="driving_way">
		<select>
			<option value="0">最少时间</option>
			<option value="1">最短距离</option>
			<option value="2">避开高速</option>
		</select>
		<input type="button" id="result" value="查询"/>
	</div>
	<div id="r-result"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);


	//三种驾车策略：最少时间，最短距离，避开高速
	var routePolicy = [BMAP_DRIVING_POLICY_LEAST_TIME,BMAP_DRIVING_POLICY_LEAST_DISTANCE,BMAP_DRIVING_POLICY_AVOID_HIGHWAYS];


    var spot_list =["天安门","百度大厦","颐和园","香山公园"];


	$("#result").click(function()
    {
		map.clearOverlays();
		var i=$("#driving_way select").val();

		for (let i = 0; i <spot_list.length-1; i++)
		{
		    search(spot_list[i],spot_list[i+1])
        }
		// 根据起始点显示路线
		function search(start,end,route){
			var driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, autoViewport: true},policy: route});
			driving.search(start,end);

            var startIcon=new BMap.Icon("../static/images/logo.png", new BMap.Size(40,50));
            var endIcon = new BMap.Icon("../static/images/logo.png", new BMap.Size(40,50));
            driving.setMarkersSetCallback(function(result)
            {
            result[0].marker.setIcon(startIcon);
            result[1].marker.setIcon(endIcon);
            })

		}



	});



</script>
