<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>旅游景点挑选</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/animations.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="static/js/vendor/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
   .check {
      cursor: pointer;
        width: 18px;
        height: 18px;
        top:0;
        left: 0;
        border: 1px solid #979797;
    }

    #count{
        margin-left: 500px;
    }
    #count {
        width: 150px;
        height: 50px;
        box-shadow: 0 1px 0 0 #f0f2fa;
        background-color: #d5cc8f;
        border-radius:6px;
        border:1px solid #057fd0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0 -1px 0 #5b6178;
    }
    #count:hover {
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        background-color:#afd9ee;
    }

    #submit {
        margin-left: 500px;
    }
    #submit {
        width: 150px;
        height: 50px;
        box-shadow: 0 1px 0 0 #f0f7fa;
        background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
        background-color:#33bdef;
        border-radius:6px;
        border:1px solid #057fd0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0 -1px 0 #5b6178;
    }
    #submit:hover {
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        background-color:#019ad2;
    }
    #submit:active {
        position:relative;
        top:1px;
    }

    </style>

</head>
<body>


<header id="header" class="light_section">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" href="#top"><img src="static/example/logo.png" alt=""></a>
            <div class="col-sm-12 mainmenu_wrap">
                <div class="main-menu-icon visible-xs">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav>
                    <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                        <li class="">
                            <a href="./travelhome">首页</a>
                        </li>
                        <li class="">
                            <a href="./about.html">关于</a>
                        </li>
                        <li class="">
                            <a href="./gallery.html">展示</a>
                        </li>
                        <li class="dropdown">
                            <a href="./blog.html">博客</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a href="./blog.html">博客</a>
                                </li>
                                <li class="">
                                    <a href="./blog-single.html">博客文章</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="./contact.html">联系</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<section id="middle" class="grey_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="block-header">美丽-北京</h2>
                <p>挑选你喜欢的景点</p>
            </div>
        </div>

        <form action="/reco" method = "post">
        <div class="row">
            <ul id="gallery-grid" class="gallery-grid col-sm-12">

                <li>
                    <a href="#" data-largesrc="example/gallery/故宫.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/故宫.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>

                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/颐和园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/颐和园.jpg" alt=""/>
                    </a>
                    <h3>颐和园</h3>
                     <p> <input class="check" type="checkbox" name="spot" value="颐和园" />想去 </p>

                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/八达岭长城.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/八达岭长城.jpg" alt=""/>
                    </a>
                    <h3>八达岭长城</h3>
                     <p> <input class="check" type="checkbox" name="spot" value="八达岭长城" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/天坛.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/天坛.jpg" alt=""/>
                    </a>
                    <h3>天坛</h3>
                     <p> <input class="check" type="checkbox" name="spot" value="天坛" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/恭王府.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/恭王府.jpg" alt=""/>
                    </a>
                    <h3>恭王府</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="恭王府" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北海公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北海公园.jpg" alt=""/>
                    </a>
                    <h3>北海公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北海公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/景山公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/景山公园.jpg" alt=""/>
                    </a>
                    <h3>景山公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="景山公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/慕田峪长城.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/慕田峪长城.jpg" alt=""/>
                    </a>
                    <h3>慕田峪长城</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="慕田峪长城" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/什刹海.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/什刹海.jpg" alt=""/>
                    </a>
                    <h3>什刹海</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="什刹海" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/南锣鼓巷.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/南锣鼓巷.jpg" alt=""/>
                    </a>
                    <h3>南锣鼓巷</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="南锣鼓巷" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/王府井.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/王府井.jpg" alt=""/>
                    </a>
                    <h3>王府井</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="王府井" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/天安门城楼.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/天安门城楼.jpg" alt=""/>
                    </a>
                    <h3>天安门城楼</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="天安门城楼" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/雍和宫.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/雍和宫.jpg" alt=""/>
                    </a>
                    <h3>雍和宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="雍和宫" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/香山公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/香山公园.jpg" alt=""/>
                    </a>
                    <h3>香山公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="香山公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/古北水镇.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/古北水镇.jpg" alt=""/>
                    </a>
                    <h3>古北水镇</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="古北水镇" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/明十三陵.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/明十三陵.jpg" alt=""/>
                    </a>
                    <h3>明十三陵</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="明十三陵" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京动物园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京动物园.jpg" alt=""/>
                    </a>
                    <h3>北京动物园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京动物园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/前门大街.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/前门大街.jpg" alt=""/>
                    </a>
                    <h3>前门大街</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="前门大街" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京大学.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京大学.jpg" alt=""/>
                    </a>
                    <h3>北京大学</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京大学" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/国子监.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/国子监.jpg" alt=""/>
                    </a>
                    <h3>国子监</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="国子监" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京野生动物园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京野生动物园.jpg" alt=""/>
                    </a>
                    <h3>北京野生动物园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京野生动物园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/大栅栏.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/大栅栏.jpg" alt=""/>
                    </a>
                    <h3>大栅栏</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="大栅栏" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/地坛.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/地坛.jpg" alt=""/>
                    </a>
                    <h3>地坛</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="地坛" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/午门.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/午门.jpg" alt=""/>
                    </a>
                    <h3>午门</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="午门" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/人民大会堂.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/人民大会堂.jpg" alt=""/>
                    </a>
                    <h3>人民大会堂</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="人民大会堂" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/清华大学.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/清华大学.jpg" alt=""/>
                    </a>
                    <h3>清华大学</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="清华大学" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/三里屯.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/三里屯.jpg" alt=""/>
                    </a>
                    <h3>三里屯</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="三里屯" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/西单.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/西单.jpg" alt=""/>
                    </a>
                    <h3>西单</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="西单" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/孔庙.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/孔庙.jpg" alt=""/>
                    </a>
                    <h3>孔庙</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="孔庙" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/烟袋斜街.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/烟袋斜街.jpg" alt=""/>
                    </a>
                    <h3>烟袋斜街</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="烟袋斜街" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/龙庆峡.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/龙庆峡.jpg" alt=""/>
                    </a>
                    <h3>龙庆峡</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="龙庆峡" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/正阳门.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/正阳门.jpg" alt=""/>
                    </a>
                    <h3>正阳门</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="正阳门" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/红螺寺.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/红螺寺.jpg" alt=""/>
                    </a>
                    <h3>红螺寺</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="红螺寺" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/司马台长城.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/司马台长城.jpg" alt=""/>
                    </a>
                    <h3>司马台长城</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="司马台长城" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/昆明湖.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/昆明湖.jpg" alt=""/>
                    </a>
                    <h3>昆明湖</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="昆明湖" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/水立方.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/水立方.jpg" alt=""/>
                    </a>
                    <h3>水立方</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="水立方" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/佛香阁.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/佛香阁.jpg" alt=""/>
                    </a>
                    <h3>佛香阁</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="佛香阁" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/雁栖湖.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/雁栖湖.jpg" alt=""/>
                    </a>
                    <h3>雁栖湖</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="雁栖湖" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/居庸关长城.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/居庸关长城.jpg" alt=""/>
                    </a>
                    <h3>居庸关长城</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="居庸关长城" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/798艺术区.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/798艺术区.jpg" alt=""/>
                    </a>
                    <h3>798艺术区</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="798艺术区" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/大观园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/大观园.jpg" alt=""/>
                    </a>
                    <h3>大观园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="大观园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/十七孔桥.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/十七孔桥.jpg" alt=""/>
                    </a>
                    <h3>十七孔桥</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="十七孔桥" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京植物园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京植物园.jpg" alt=""/>
                    </a>
                    <h3>北京植物园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京植物园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京海洋馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京海洋馆.jpg" alt=""/>
                    </a>
                    <h3>北京海洋馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京海洋馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/玉渊潭公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/玉渊潭公园.jpg" alt=""/>
                    </a>
                    <h3>玉渊潭公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="玉渊潭公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京汽车博物馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京汽车博物馆.jpg" alt=""/>
                    </a>
                    <h3>北京汽车博物馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京汽车博物馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/陶然亭公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/陶然亭公园.jpg" alt=""/>
                    </a>
                    <h3>陶然亭公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="陶然亭公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/紫竹院公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/紫竹院公园.jpg" alt=""/>
                    </a>
                    <h3>紫竹院公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="紫竹院公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/中山公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/中山公园.jpg" alt=""/>
                    </a>
                    <h3>中山公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="中山公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/八大处公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/八大处公园.jpg" alt=""/>
                    </a>
                    <h3>八大处公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="八大处公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/潭柘寺.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/潭柘寺.jpg" alt=""/>
                    </a>
                    <h3>潭柘寺</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="潭柘寺" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/中国科学技术馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/中国科学技术馆.jpg" alt=""/>
                    </a>
                    <h3>中国科学技术馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="中国科学技术馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/钟鼓楼.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/钟鼓楼.jpg" alt=""/>
                    </a>
                    <h3>钟鼓楼</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="钟鼓楼" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京西山国家森林公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京西山国家森林公园.jpg" alt=""/>
                    </a>
                    <h3>北京西山国家森林公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京西山国家森林公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/朝阳公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/朝阳公园.jpg" alt=""/>
                    </a>
                    <h3>朝阳公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="朝阳公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/银锭桥.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/银锭桥.jpg" alt=""/>
                    </a>
                    <h3>银锭桥</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="银锭桥" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/戒台寺.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/戒台寺.jpg" alt=""/>
                    </a>
                    <h3>戒台寺</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="戒台寺" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/黄花城水长城.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/黄花城水长城.jpg" alt=""/>
                    </a>
                    <h3>黄花城水长城</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="黄花城水长城" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/中央广播电视塔.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/中央广播电视塔.jpg" alt=""/>
                    </a>
                    <h3>中央广播电视塔</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="中央广播电视塔" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京园博园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京园博园.jpg" alt=""/>
                    </a>
                    <h3>北京园博园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京园博园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/首都博物馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/首都博物馆.jpg" alt=""/>
                    </a>
                    <h3>首都博物馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="首都博物馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/水关长城.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/水关长城.jpg" alt=""/>
                    </a>
                    <h3>水关长城</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="水关长城" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/世界花卉大观园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/世界花卉大观园.jpg" alt=""/>
                    </a>
                    <h3>世界花卉大观园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="世界花卉大观园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/角楼.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/角楼.jpg" alt=""/>
                    </a>
                    <h3>角楼</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="角楼" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京平谷金海湖.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京平谷金海湖.jpg" alt=""/>
                    </a>
                    <h3>北京平谷金海湖</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京平谷金海湖" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/石林峡.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/石林峡.jpg" alt=""/>
                    </a>
                    <h3>石林峡</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="石林峡" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/国家图书馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/国家图书馆.jpg" alt=""/>
                    </a>
                    <h3>国家图书馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="国家图书馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/八达岭野生动物世界.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/八达岭野生动物世界.jpg" alt=""/>
                    </a>
                    <h3>八达岭野生动物世界</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="八达岭野生动物世界" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京凤凰岭景区.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京凤凰岭景区.jpg" alt=""/>
                    </a>
                    <h3>北京凤凰岭景区</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京凤凰岭景区" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/中国美术馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/中国美术馆.jpg" alt=""/>
                    </a>
                    <h3>中国美术馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="中国美术馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/五道营胡同.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/五道营胡同.jpg" alt=""/>
                    </a>
                    <h3>五道营胡同</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="五道营胡同" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/黑龙潭风景区.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/黑龙潭风景区.jpg" alt=""/>
                    </a>
                    <h3>黑龙潭风景区</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="黑龙潭风景区" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/孔庙和国子监博物馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/孔庙和国子监博物馆.jpg" alt=""/>
                    </a>
                    <h3>孔庙和国子监博物馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="孔庙和国子监博物馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/八达岭古长城（残长城）.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/八达岭古长城（残长城）.jpg" alt=""/>
                    </a>
                    <h3>八达岭古长城（残长城）</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="八达岭古长城（残长城）" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/万寿山.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/万寿山.jpg" alt=""/>
                    </a>
                    <h3>万寿山</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="万寿山" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/什刹海酒吧街.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/什刹海酒吧街.jpg" alt=""/>
                    </a>
                    <h3>什刹海酒吧街</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="什刹海酒吧街" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/大水法.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/大水法.jpg" alt=""/>
                    </a>
                    <h3>大水法</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="大水法" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/太和殿.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/太和殿.jpg" alt=""/>
                    </a>
                    <h3>太和殿</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="太和殿" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/大运河森林公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/大运河森林公园.jpg" alt=""/>
                    </a>
                    <h3>大运河森林公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="大运河森林公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京杜莎夫人蜡像馆.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京杜莎夫人蜡像馆.jpg" alt=""/>
                    </a>
                    <h3>北京杜莎夫人蜡像馆</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京杜莎夫人蜡像馆" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/潘家园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/潘家园.jpg" alt=""/>
                    </a>
                    <h3>潘家园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="潘家园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/龙潭公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/龙潭公园.jpg" alt=""/>
                    </a>
                    <h3>龙潭公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="龙潭公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/大觉寺.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/大觉寺.jpg" alt=""/>
                    </a>
                    <h3>大觉寺</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="大觉寺" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/北京国家森林公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/北京国家森林公园.jpg" alt=""/>
                    </a>
                    <h3>北京国家森林公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="北京国家森林公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/鼓楼.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/鼓楼.jpg" alt=""/>
                    </a>
                    <h3>鼓楼</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="鼓楼" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/东交民巷.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/东交民巷.jpg" alt=""/>
                    </a>
                    <h3>东交民巷</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="东交民巷" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/后海公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/后海公园.jpg" alt=""/>
                    </a>
                    <h3>后海公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="后海公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/青龙峡风景区.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/青龙峡风景区.jpg" alt=""/>
                    </a>
                    <h3>青龙峡风景区</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="青龙峡风景区" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/百里山水画廊.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/百里山水画廊.jpg" alt=""/>
                    </a>
                    <h3>百里山水画廊</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="百里山水画廊" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/野鸭湖国家湿地公园.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/野鸭湖国家湿地公园.jpg" alt=""/>
                    </a>
                    <h3>野鸭湖国家湿地公园</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="野鸭湖国家湿地公园" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/法源寺.jpg" data-title="spn"
                       data-description="data-description">
                        <img src="static/example/gallery/法源寺.jpg" alt=""/>
                    </a>
                    <h3>法源寺</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="法源寺" />想去 </p>
                </li>


            </ul>
        </div>

            <p><input id="count" type="text" name = "num" placeholder="输入景点个数"/></p>
            <!-- submit   -->
            <p><input id="submit" type="submit" value="提交"/></p>
        </form>

    </div>
</section>


<footer>
    <div class="social">
        <div class="social_icons">
            <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>
        <img alt="" src="static/example/footer_bg.jpg">
    </div>
</footer>

<section id="copyright" class="color_section">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 text-center">
                &copy; Copyright 2021 - Travel Planning
            </div>
        </div>

    </div>
</section>


<div class="preloader">
    <div class="preloaderimg"></div>
</div>

<script src="static/js/vendor/jquery-1.11.1.min.js"></script>
<script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/vendor/placeholdem.min.js"></script>
<script src="static/js/vendor/hoverIntent.js"></script>
<script src="static/js/vendor/superfish.js"></script>
<script src="static/js/vendor/jquery.actual.min.js"></script>
<script src="static/js/vendor/jquery.appear.js"></script>
<script src="static/js/vendor/jquerypp.custom.js"></script>
<script src="static/js/vendor/jquery.elastislide.js"></script>
<script src="static/js/vendor/jquery.flexslider-min.js"></script>
<script src="static/js/vendor/jquery.prettyPhoto.js"></script>
<script src="static/js/vendor/jquery.easing.1.3.js"></script>
<script src="static/js/vendor/jquery.ui.totop.js"></script>
<script src="static/js/vendor/jquery.isotope.min.js"></script>
<script src="static/js/vendor/jquery.easypiechart.min.js"></script>
<script src='static/js/vendor/jflickrfeed.min.js'></script>
<script src="static/js/vendor/jquery.sticky.js"></script>
<script src='static/js/vendor/owl.carousel.min.js'></script>
<script src='static/js/vendor/jquery.nicescroll.min.js'></script>
<script src='static/js/vendor/jquery.fractionslider.min.js'></script>
<script src='static/js/vendor/jquery.scrollTo-min.js'></script>
<script src='static/js/vendor/jquery.localscroll-min.js'></script>
<script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
<script src='static/js/vendor/jquery.bxslider.min.js'></script>
<script src='static/js/vendor/jquery.funnyText.min.js'></script>
<script src='static/js/vendor/jquery.countTo.js'></script>
<script src="static/js/vendor/grid.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>