<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">s

    <title>旅游景点挑选</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/animations.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="static/js/vendor/respond.min.js"></script>
    <![endif]-->


    <style type="text/css">
   .check {
      cursor: pointer;
        width: 18px;
        height: 18px;
        top:0;
        left: 0;
        border: 1px solid #979797;
    }
    #submit {
        margin-left: 500px;
    }
    #submit {
        width: 120px;
        height: 50px;
        box-shadow: 0 1px 0 0 #f0f7fa;
        background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
        background-color:#33bdef;
        border-radius:6px;
        border:1px solid #057fd0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0 -1px 0 #5b6178;
    }
    #submit:hover {
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        background-color:#019ad2;
    }
    #submit:active {
        position:relative;
        top:1px;
    }

</style>

</head>
<body>


<header id="header" class="light_section">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" href="#top"><img src="static/example/logo.png" alt=""></a>
            <div class="col-sm-12 mainmenu_wrap">
                <div class="main-menu-icon visible-xs">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav>
                    <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                        <li class="">
                            <a href="./travelhome">首页</a>
                        </li>
                        <li class="">
                            <a href="./about.html">关于</a>
                        </li>
                        <li class="">
                            <a href="./gallery.html">展示</a>
                        </li>
                        <li class="dropdown">
                            <a href="./blog.html">博客</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a href="./blog.html">博客</a>
                                </li>
                                <li class="">
                                    <a href="./blog-single.html">博客文章</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="./contact.html">联系</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<section id="middle" class="grey_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="block-header">美丽-北京</h2>
                <p>挑选你喜欢的景点</p>
            </div>
        </div>

        <form action="/reco" method = "post">
        <div class="row">
            <ul id="gallery-grid" class="gallery-grid col-sm-12">

                <li>
                    <a href="#" data-largesrc="example/gallery/01.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/01.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>

                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/02.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/02.jpg" alt=""/>
                    </a>
                    <h3>颐和园</h3>
                     <p> <input class="check" type="checkbox" name="spot" value="颐和园" />想去 </p>

                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/03.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/03.jpg" alt=""/>
                    </a>
                    <h3>八达岭长城</h3>
                     <p> <input class="check" type="checkbox" name="spot" value="八达岭长城" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/04.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/04.jpg" alt=""/>
                    </a>
                    <h3>天坛</h3>
                     <p> <input class="check" type="checkbox" name="spot" value="天坛" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/05.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/05.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/06.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/06.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/07.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/07.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/08.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/08.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>

                <li>
                    <a href="#" data-largesrc="example/gallery/09.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/09.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/10.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/10.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/11.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/11.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>


                <li>
                    <a href="#" data-largesrc="example/gallery/12.jpg" data-title="Project Name 1"
                       data-description="data-description">
                        <img src="static/example/gallery/12.jpg" alt=""/>
                    </a>
                    <h3>故宫</h3>
                    <p> <input class="check" type="checkbox" name="spot" value="故宫" />想去 </p>
                </li>
            </ul>
        </div>
            <!-- submit   -->
            <p><input id="submit" type="submit" value="提交"/></p>
        </form>

    </div>
</section>


<footer>
    <div class="social">
        <div class="social_icons">
            <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
        </div>
        <img alt="" src="static/example/footer_bg.jpg">
    </div>
</footer>

<section id="copyright" class="color_section">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 text-center">
                &copy; Copyright 2021 - Travel Planning
            </div>
        </div>

    </div>
</section>


<div class="preloader">
    <div class="preloaderimg"></div>
</div>

<script src="static/js/vendor/jquery-1.11.1.min.js"></script>
<script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/vendor/placeholdem.min.js"></script>
<script src="static/js/vendor/hoverIntent.js"></script>
<script src="static/js/vendor/superfish.js"></script>
<script src="static/js/vendor/jquery.actual.min.js"></script>
<script src="static/js/vendor/jquery.appear.js"></script>
<script src="static/js/vendor/jquerypp.custom.js"></script>
<script src="static/js/vendor/jquery.elastislide.js"></script>
<script src="static/js/vendor/jquery.flexslider-min.js"></script>
<script src="static/js/vendor/jquery.prettyPhoto.js"></script>
<script src="static/js/vendor/jquery.easing.1.3.js"></script>
<script src="static/js/vendor/jquery.ui.totop.js"></script>
<script src="static/js/vendor/jquery.isotope.min.js"></script>
<script src="static/js/vendor/jquery.easypiechart.min.js"></script>
<script src='static/js/vendor/jflickrfeed.min.js'></script>
<script src="static/js/vendor/jquery.sticky.js"></script>
<script src='static/js/vendor/owl.carousel.min.js'></script>
<script src='static/js/vendor/jquery.nicescroll.min.js'></script>
<script src='static/js/vendor/jquery.fractionslider.min.js'></script>
<script src='static/js/vendor/jquery.scrollTo-min.js'></script>
<script src='static/js/vendor/jquery.localscroll-min.js'></script>
<script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
<script src='static/js/vendor/jquery.bxslider.min.js'></script>
<script src='static/js/vendor/jquery.funnyText.min.js'></script>
<script src='static/js/vendor/jquery.countTo.js'></script>
<script src="static/js/vendor/grid.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>